body {
	font-size: 62.5%;
	font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
}

label, input { 
	display:block; 
}

input.text { 
	width:95%; 
	padding: .4em; 
}

.ui-resizable-se {
	bottom: 17px;
}

.overflow {
  	height: 200px;
}